<head>
</head>
<body>

<h1>Final Project Proposal</h1>
<p><b>Application name:</b> PandaCore</p>
<p><b>Team name:</b> RedPandas</p>
<p><b>Last updated:</b> sprint 5, 3/23/2021</p>
<p><b>Description:</b> Users can schedule out their days and see a monthly, 
weekly, or daily view and get reminders for activities they have going on</p>

<p><b>Prioritized list:</b></p>
<ul>
    <li> We will have a calendar of events listed and the user will be able to change views to see a daily, weekly, or monthly view</li>
    <li> We will have the option for events to be set up with a reminder feature</li>
    <li> We will have user accounts that allow users to sign in and see their information</li>
</ul>

<p><b>Additional items:</b></p>
<ul>
    <li>Changing themes</li>
    <li>Different types of reminders</li>
    <li>Group invites </li>
    <li>Import and export feature for the calendar</li>
</ul>

<p><b>Languages/Platforms:</b> HTML, CSS, JS, Firebase, Azure</p>
<p><b>Technical features from class:</b> Hosting with Node.js and express</p>
<p><b>New technical features:</b> Email reminders, authentication, databases</p>
</body>